%header
  .logo
  %nav.nav
    %ul.nav-left
      %li
        = nav_link 'Главная', '/'
      %li.hidden-mobile /
      %li
        = nav_link 'Работы', '/works'
    %ul.nav-right
      %li
        = link_to 'Цены', '#'
      %li.hidden-mobile /
      %li
        = link_to 'Контакты', '#'

