---
title: Студия флористики
---

%section#about
  .container.banner
    %h1 CТУДИЯ ФЛОРИСТИКИ И ДЕКОРА
    %p
      Воплощаем в реальность ваши цветочные мечты. <br/>
      Команда <span style='color:#f5f9ad'>Love Project</span>. <br/>
      //= image_tag 'flower.png', width: 70


    //.container.about
    //.description
    //  %h2 Hi
    //  %ul
    //    %li one
    //    %li two
    //    %li three
    .grid
      .grid-item
        = image_tag 'http://cs617117.vk.me/v617117313/16721/4rYdzP4IewI.jpg'
        .overlay
          //%h4 Текстиль
          //%p Ткани, цвета, столы и пазлы
      .grid-item
        = image_tag 'http://cs620228.vk.me/v620228313/188d8/4AL455S_M60.jpg'
        .overlay
          //%h4 Элементы дизайна
          //%p Вазы столы стулья
      .grid-item
        = image_tag 'http://cs617117.vk.me/v617117313/16721/4rYdzP4IewI.jpg'
        .overlay
          //%h4 Живые цветы
          //%p Цветы, лепестки, текст текст
      .grid-item
        = image_tag 'http://cs620228.vk.me/v620228313/188d8/4AL455S_M60.jpg'
        .overlay
          //%h4 Элементы дизайна
          //%p Вазы столы стулья
      //.grid-item
      //  = image_tag 'http://cs617117.vk.me/v617117313/16721/4rYdzP4IewI.jpg'
      //  .overlay
      //    //%h4 Четвертый элемент
      //    //%p Любовь радость свет



%section#works
  .container
    %h1 Работы
    %p
      Los árabes gobernaron la mayor parte de España durante casi ocho siglos. Ellos tradujeron muchas de las grandes obras de filosofía y ciencias griegas, y así las preservaron para futuros científicos.
      <a href="http://github.com/thoughtbot/proteus-middleman">Let's get started</a>
