---
title: Работы
---

.delete-me#works
  .container
    %h1 Работы
    %p
      Los árabes gobernaron la mayor parte de España durante casi ocho siglos. Ellos tradujeron muchas de las grandes obras de filosofía y ciencias griegas, y así las preservaron para futuros científicos.
      <a href="http://github.com/thoughtbot/proteus-middleman">Let's get started</a>
